@import "base/normalize";

@import "utils/variables";
@import "utils/placeholders";

@import "layouts/header";
@import "layouts/location";
@import "layouts/hero";
@import "layouts/functioning";
@import "layouts/restaurants";
@import "layouts/footer";

@import "components/buttons";


body {
    margin: 0 auto;
    background-color: $color-white;
    color: $color-font;
    font-family: $font-content;
    box-sizing: border-box;
}