h1 {
    font-size: 26px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 22px;
}

header p {
    font-size: 16px;
}

.location__result p {
    font-size: 16px;
}

.hero p {
    font-size: 18px;
}

.functioning p {
    font-size: 17px;
}

.restaurants p {
    font-size: 19px;
}

.footer__link {
    font-size: 17px;
}