/*******************body*******************/
body {
    margin: 0 auto;
    background-color: $color-white;
    color: $color-font;
    font-family: $font-content;
    box-sizing: border-box;
}

/*loader*/
.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    top: 0;
    left: 0;
    background: rgba(240, 248, 255, 0.95);
    -webkit-animation: loader 0.01s both 3s;
    animation: loader 0.01s both 3s;
    z-index: 2;

    &__wrapper {
        position: absolute;
        background: #ff000000;
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 1s ease-in-out;
        overflow: hidden;

        .ball {
            width: 20px;
            height: 20px;
            background: #99E2D0;
            border-radius: 50%;
            margin: 0 15px;
            -webkit-animation: loader infinite 0.3s alternate;
            animation: loader infinite 0.3s alternate;
        }

        .ball--2 {
            background: #FF79DA;
            -webkit-animation-delay: 0.05s;
            animation-delay: 0.05s;
        }

        .ball--3 {
            background: #9356DC;
            -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
        }

        @-webkit-keyframes loader {
            100% {
                transform: translatey(-30px);
                opacity: 0;
                z-index: -1;
            }
        }

        @keyframes loader {
            100% {
                transform: translatey(-30px);
                opacity: 0;
                z-index: -1;
            }
        }
    }
}

/*******************location*******************/
.location__result {
    @extend %flex-center;
    height: 50px;
    padding-right: 25px;
    background-color: $color-grey;
    box-shadow: inset 3px 6px 4px -4px rgb(0 0 0 / 20%);
    font-weight: bold;
    opacity: 0.8;

    &__address {
        padding: 15px 0 15px 18px;
        margin: 0px;
    }

    .fa-solid {
        padding-bottom: 5px;
    }
}

/*******************hero*******************/
.hero {
    @extend %flex-center;
    flex-direction: column;
    height: 280px;
    background-color: $color-lightgrey ;
    padding: 0 20px 10px;

    @include desktop-only {
        height: 310px;
    }

    &__title {
        text-align: center;
        margin: 0px 0px;
        padding: 0 40px 20px;
    }

    &__subtitle {
        text-align: center;
        margin: 0px 0;
        padding: 0 0 30px;
        opacity: 0.7;
    }
}

/*****************functioning*******************/
.functioning {
    padding: 20px 20px 40px;
    height: 330px;

    @include tablet-only {
        height: 260px;

        @include desktop-only {
            padding-bottom: 30px;
            max-width: 1600px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;

        @include tablet-only {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            position: relative;
            left: auto;
        }
    }

    &__card {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 70px;
        margin-bottom: 20px;
        border-radius: 15px;
        background-color: $color-lightgrey;
        box-shadow: 0px 2px 6px -1px rgba(134, 134, 134, 0.9);
        position: relative;
        margin-left: 15px;

        &:hover {
            cursor: pointer;
            background-color: #f4edfe;

            :not(p, span) {
                color: #9356DC;
            }
        }

        @include tablet-only {
            width: 31%;
            height: 150px;
            flex-direction: column;
            justify-content: center;
            margin-left: 0px;
        }

        &__number {
            @extend %flex-center;
            position: absolute;
            left: -14px;
            width: 24px;
            height: 24px;
            border-radius: 50px;
            padding: 2 1 0;
            font-size: 14px;
            background-color: $color-primary;
            color: $color-white;

            @include tablet-only {
                padding-top: 0px;
                margin-top: 20px;
                top: 116px;
                left: auto;
                width: 30px;
                height: 30px;
                font-size: 18px;
            }
        }

        &__icon {
            color: $color-grey-icon;
            padding-left: 30px;
            font-size: 20px;

            @include tablet-only {
                margin-top: 0px;
                margin-bottom: 20px;
                padding-left: 0;
                font-size: 40px;
            }

            &:hover {
                color: $color-primary;
            }
        }

        &__title {
            font-weight: bold;
            padding-left: 25px;

            @include tablet-only {
                font-size: 18px;
                text-align: center;
                margin: 0px 0;
                flex-wrap: wrap;
                padding-left: 0;
            }

            &--mobile {
                padding-left: 28px;

                @include tablet-only {
                    padding-left: 0;
                }
            }
        }
    }
}

/*******************restaurants*******************/
.restaurants {
    padding: 20px 20px 40px;
    background-color: $color-lightgrey;

    &__wrapper {
        @include desktop-only {
            max-width: 1600px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        align-items: center;

        @include tablet-only {
            display: grid;
            width: 96%;
            -moz-column-gap: 35px;
            column-gap: 35px;
            grid-template-columns: 50% 50%;

            @include desktop-only {
                width: 100%;
                -moz-column-gap: 30px;
                column-gap: 30px;
                grid-template-columns: 23% 23% 23% 23%;
                justify-content: space-between;
            }
        }

        .restaurants__card {
            width: 100%;
            height: 250px;
            background-color: $color-white;
            border-radius: 20px 20px 20px 20px;
            box-shadow: 0px 2px 6px -1px rgba(134, 134, 134, 0.9);
            margin-bottom: 20px;
            transition: opacity 0.2s ease;

            @include desktop-only {
                height: 240px;
            }

            & a {
                @include tablet-only {
                    position: relative;
                }
            }

            &__link {
                text-decoration: none;
                color: $color-font;
            }

            &__img {
                width: 100%;
                height: 170px;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 20px 20px 0px 0px;

                @include desktop-only {
                    height: 160px;
                }
            }

            /*green tag nouveau*/
            &__tag {
                position: absolute;
                right: 32px;
                margin-top: 12px;
                padding: 6px 10px 5px;
                border-radius: 2px;
                background-color: $color-tertiary;
                font-size: 13px;
                font-weight: bold;
                @include color-tag;

                @include tablet-only {
                    right: 10px;
                    font-size: 16px;

                    @include desktop-only {
                        margin-top: 10px;
                    }
                }
            }

            &__content {
                height: 45px;
                position: relative;
                padding: 10px 0 10px 15px;

                h3 {
                    margin: 0px;
                    padding-bottom: 5px;

                    @include desktop-only {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        -webkit-hyphens: auto;
                        -ms-hyphens: auto;
                        hyphens: auto;
                        white-space: nowrap;
                        width: 65%;
                    }
                }

                p {
                    margin: 0px;

                    @include desktop-only {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        -webkit-hyphens: auto;
                        -ms-hyphens: auto;
                        hyphens: auto;
                        white-space: nowrap;
                        width: 65%;
                    }
                }

                /*heart thin*/
                .fa-thin {
                    color: $color-grey-icon;
                    position: absolute;
                    right: 25px;
                    bottom: 20px;
                    font-size: 30px;
                    font-family: "Font Awesome 6 Free";
                    font-style: normal;
                    opacity: 1;
                }

                /*heart solid*/
                .fa-solid {
                    color: $color-grey-icon;
                    position: absolute;
                    right: 25px;
                    bottom: 23px;
                    font-size: 30px;
                    font-family: "Font Awesome 6 Free";
                    font-style: normal;
                    opacity: 0;
                    transition: all 0.2s ease;

                    &:hover {
                        opacity: 1;
                        background: linear-gradient(to bottom, #FF79DA, #9356DC);
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
    }
}