/*colors*/
$color-bg: #fff;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

/*fonts*/
$font-family: 'Roboto', sans-serif;
$font-family: 'Shrikhand', cursive;

/*media-queries*/
$breakpoints-small: 320px;
$breakpoints-medium: 768px;
$breakpoints-large: 1024px;



// @media (min-width:$breakpoints-medium) and (max-width:$breakpoints-large) {}

// @media (min-width:$breakpoints-large) {}