.footer {
    height: 150px;
    padding: 30px 20px 30px;
    background-color: $color-darkgrey;
    color: $color-white;

    &__title {
        font-family: $font-logo;
        font-weight: lighter;
        margin: 0 0;
    }

    ul {
        list-style-type: none;
        margin-top: 20px;
        padding-left: 0px;

        li {
            padding-bottom: 10px;

            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: $color-white;

                .fa-utensils {
                    padding-right: 12px;
                    font-size: smaller;
                }

                .fa-handshake-angle {
                    padding-right: 12px;
                    font-size: 10px;
                }
            }
        }
    }

    &--menu {
        position: relative;
        top: 1085px;

        @include desktop-only {
            top: 495px;
        }
    }

    &--menu--2 {
        position: relative;
        top: 1170px;

        @include desktop-only {
            top: 580px;
        }
    }

}