.functioning {
    padding: 30px 20px 50px;

    &__card {
        @extend %flex-center;
        flex-direction: row;
        width: 100%;
        height: 70px;
        margin-bottom: 20px;
        border-radius: 15px;
        background-color: $color-lightgrey;
        box-shadow: 0px 2px 6px -1px rgba(134, 134, 134, 0.9);

        &__number {
            @extend %flex-center;
            width: 15px;
            height: 15px;
            border-radius: 50px;
            padding: 0px 0px;
            font-size: 10px;
            background-color: $color-primary;
            color: $color-white;
        }

        &__icon {
            color: $color-grey-icon;

            &--clicked {
                color: $color-primary;
            }
        }

        &__title {
            font-weight: bold;
        }
    }
}