.header {
    @extend %flex-center;
    padding: 25px 0 12px;

    &__logo {
        width: 160px;
    }

    .fa-arrow-left {
        position: absolute;
        left: 30px;
        top: 30px;
        color: $color-darkgrey;
        font-size: large;

    }

}