.hero {
    @extend %flex-center;
    flex-direction: column;
    height: 240px;
    background-color: $color-lightgrey ;
    padding: 0 20px;

    &__title {
        text-align: center;
        font-size: 22px;
        margin: 0px 0px;
        padding: 0 40px 15px;
    }

    &__subtitle {
        text-align: center;
        font-size: 18px;
        margin: 0px 0;
        padding: 0 10px 30px;
        opacity: 0.7;
    }
}