.location__result {
    @extend %flex-center;
    padding-right: 30px;
    background-color: $color-grey;
    border-top: 3px solid rgba(84, 84, 84, 0.15);
    font-size: 17px;
    font-weight: bold;
    opacity: 0.8;

    &__address {
        padding: 15px 0 15px 15px;
        margin: 0px;
    }
}